.task {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    border-radius: 5px;
    border: 1px rgb(50, 35, 2) solid;
    background-color: rgb(240, 240, 225);
}

.task.done {
    background-color: rgb(171, 230, 171);
    color: rgba(31, 12, 12, 0.926);
    border: 1px rgb(17, 36, 1) solid;
}

.task span {
    display: flex;
    align-items: center;
    align-content: center;
    word-break: break-all;
    height: 100%;
}

.task .task_message {
    padding: 10px;
    cursor: pointer;
    flex: 1;
}

.task .task_message:hover {
    background-color: rgb(222, 222, 191);
    border-radius: 5px 0px 0px 5px;
}

.task.done .task_message:hover {
    background-color: rgb(128, 205, 128);
    border-radius: 5px 0px 0px 5px;
}

.task .deleteButton {
    padding: 10px;
    flex: 0;
    cursor: pointer;
}

.task .deleteButton:hover {
    background-color: rgb(222, 222, 191);
    border-radius: 0px 5px 5px 0px;
}

.task.done .deleteButton:hover {
    background-color: rgb(128, 205, 128);
    border-radius: 0px 5px 5px 0px;
}

.task .cross {
    color: red;
}

.task .tick {
    color: rgb(6, 69, 6);
    margin-right: 5px;
}

.task .pending {
    margin-right: 5px;
    color: rgb(57, 57, 3)
}