.button {
    padding: 10px;
    background-color: cadetblue ;
    border: 1px solid rgb(0, 208, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}